// .App {
//   text-align: center;

//   &-header {
//     background-color: #282c34;
//   }
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {

//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

a {
  text-decoration: none;
  color: rgb(116, 0, 161);

  &:hover {
    color: rgb(0, 160, 120);
  }
}

button {
  cursor: pointer;
}

.sign-in {
  cursor: pointer;
  border: 1px solid #555555;
  padding: 3px 6px;
  border-radius: 10px;
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #555555;
    color: #fff;
  }
}